* {
  font-family: Roboto, sans-serif;
}

main {
  background-color: transparent !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-bottom: 5px;
  background: rgb(255, 211, 51, 1);
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.ant-layout {
  min-height: 100vh;
}

.badge {
  top: 16px;
  right: -6px;
}
